.contGral{
    display: flex;
    align-items: center;
     flex-direction: column;
     position: relative;
  
}
.cardsCont{
    margin-top: 50px;
}
.midBar{
    width: 100%;
    height: 200px;
    display: flex;
   align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.showBar{
  display: none;
}


.navBar{
    width: 100%;
   
}

.resetAndSearch{
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
    margin-bottom: 75px;
     width: 100%;
     height: 100%;
     gap:400px
}


.hideModal{
    display: none;
    margin-top: 30px;
    position: absolute;
    left: 50px;
    border: none;
    cursor: pointer;
    background: rgb(248, 175, 175);
    padding: 10px;
    border-radius: 5px;

}
.hideModal:hover{
    background: rgb(245, 101, 101);
}
@media (max-width: 1024px){
 
    .hidden{
        display: none;
    }
    .showBar{
        display: inline;
        height: 100px;
        width: 100px;
        border: solid 3px black;
    }
    .hideModal{
        display: inline;
        
    }
    .cardsCont{
        margin-top: 100px;
    }
    
 
  }
  

