
/* card */

/* 
#eecce7   
#f76dc2    
#a70074    
 #00284b      
 #0b5292 */

 .card_cont{
    
}
.link_container { 

background: linear-gradient(to top, #f8dadaab, #f78383);
cursor: pointer;
   width: 400px;
   height: 550px;
   padding: 50px;
   margin-left:20px;
   margin-bottom:20px;
   border-radius: 30px;
   text-decoration: none;
   border:solid rgba(255, 153, 153, 0.438);
   box-shadow: 10px 10px 10px  #4d4b4b67; 
  
   
}
.link_container:hover {
    box-shadow: 10px 10px 15px  #180c0c; 
   
   background: linear-gradient(to top, #f5bcbcab, #f76868);
   transition: .7s;


}


.cont_container{ /* centra las fotos */
   
   

     

   
}

.dogPhoto{
   border-radius: 15px;
   
  width: 334px;
   height: 250px;
   object-fit: cover;
   box-shadow: 0px 1px 5px  #180c0c;
   display: flex;
   z-index: 1;
   
  
   
   
}
h4, h5{
   font-size: 25px;
   color: black;
}

h5{
   
   font-size: 17px;
}

.empty{

   height: 180px;
  
   z-index: 0;
}
.name{
   font-size: 1.5em;
}
.name{
    color: #f13f3f;
    text-shadow: 0 1px 3px black;
}
.cont_text p{
    color: black;
    text-transform: uppercase;
    
}

.blur{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
   border-radius: 10px;
    border-top: solid  #f13f3f;
    
}
