.tarjeta{ /* columna reset/ cards/ paginado */
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

.card{ /* centra las cards horizontal*/
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    }
.pButton{
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin: 2em .2em 3em;
    
}
.rButton{
    display: flex;
    align-self: flex-start;
}

  