.searchInput{
    border-radius: 10px;
    border:1px solid rgb(245, 101, 101);
    
    height: 48px;
    width: 100px;
    background: #fff url('../../Assets/search-icon.png')
    no-repeat 9px center;
    font-size: 18px;
    outline: none;
    padding: 9px 10px 9px 32px;
    transition: all .3s;  
    box-shadow: rgba(14, 14, 14, 0.3) 3px 3px 3px;
  
}
.searchInput:hover{
    width: 200px;
   /*  background-color: #f8dadaab;
    color: #000;
     */
     color: white;
    

  }

  .searchForm{
    width: 100px;
  }
 
  
 