
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&family=Source+Sans+Pro:ital,wght@0,900;1,700;1,900&display=swap');

.landing{
  background-color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 100%;
    
}
.emptyLand{
    width: 100%;
    height: 80%;
    margin-top: 40px;
    z-index: 1;
    display: flex;
    align-self: flex-start;   
  }

.container_text{
    width: 100%px;
    height: 800px;
    background-image: url(../../Assets/image/landing-rosa-comp.png);
    background-position: right;
    background-repeat: no-repeat ;
  }
.cover{
    max-width:  1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   

}
.text{
    max-width:400px ;
}
.h1l{
    font-size:  80px;
    font-weight: 100px;
    color: red;
   text-shadow: grey 5px 5px 10px ;
   margin-bottom: 150px;
    
}

.texto_landing{
    font-size: 30px;
    margin-top: 40px;
    font-family: 'Amaranth', sans-serif;
  }

.lbutton{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
  }
  .lbutton:hover{
    box-shadow: 1px 1px 30px -6px #f54d4d;

  }
img{
    width: 500px;
    margin-bottom: -200px;
   }  