


/* 
#eecce7   
#f76dc2    
#a70074    
 #00284b      
 #0b5292 */
.nav{
    background: #ff8a8a;
  
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    border-bottom: 2px solid rgb(76, 75, 75);
  
  }
  nav ul{
    display: flex;
    
    
  }
  
  nav ul .li{
    
    list-style-type:none ;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 50px;
  
    
  }
 
  .nav ul li:hover{
    background: rgb(76, 75, 75);
    border-radius: 30px;
    
  
  }
  
  nav ul li a{
   
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
    
    display: flex;
    margin-right: 10px;
  
  }
  
  nav ul li a:hover{
    color: red;
    transition: .3s;
  }

  .logo{
    width: 100px;
    margin-left: 50px;
  }
  
  .logo img{

    width: 100px;
    position: absolute;
    top:10px;
  }
  
  
  